*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #f9655b, #ee821a);
}

/* Setup the basic structure of the Calculator grid */

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/* Style the buttons on the grid */

.calculator-grid > button {
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  border: 2px solid white;
  background-color: transparent;
}

.calculator-grid > button:hover {
  background-color: #557c93;
}

.span-two {
  grid-column: span 2;
}

/* Style the output screen + text */

.output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  color: black;
  padding-right: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-output {
  font-size: 1.5rem;
  color: #ee821a;
}

.current-output {
  font-size: 2.5rem;
  color: #f9655b;
}
